.footer {
      border-top: 1px solid #181B2A;
      padding-top: 16px;

    margin-bottom: 32px;

      &__container {
          
      }

      &__coopyright {
      }

      &__list {
      display: flex;
      gap: 16px;
      align-items:center;
      flex-wrap: wrap;
      }

        &__link{

        }

      &__link, &__coopyright {
            color: #5F6368;
            font-size: 13px;
            font-weight: 500;
      }
}

