.header {
    border-bottom: 1px solid #181B2A;
    &__container {
        min-height: 66px;
        display: flex;
        align-items:center;
        justify-content: flex-start;
    }

    &__logo {
        display: flex;
        max-width: 64px;
    }

    &__close{
        display: none;
    }
}

.header-mobile{
    @include tablet{
        position: absolute;
        z-index: 10;
        background-color: #000;
        width: 100%;
        
        .header__container{
            min-height: 42px;
            display: flex;
            align-items:center;
            justify-content: space-between;
        }

        &.horizontal{
             height: 100%;
             width: 42px;
           .header__container{
            flex-direction: column-reverse;
            height: 100%;
                   padding: 12px 0;
           }
            .header__logo{
                transform: scale(1.5) rotate(-90deg);
                margin-bottom: 30px;
            }
        }
        .header__close{
            background-color: unset;
            display: flex;
        }
    }
    
}