.recommendation {
      margin: 20px 0;
      &__container {
      }

      &__title {
      display: flex;
      align-items:center;
      gap: 8px;
      margin-bottom: 24px;
      }

      &__body {
            display: grid;
            grid-template-columns: repeat(6, 1fr);
            gap: 10px;
            margin-bottom: 24px;
            @include ultra-desktop{
                  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
            }
            @include small-tablet{
                  grid-template-columns: repeat(auto-fit, minmax(170px, 1fr));
            }
      }

      &__column {
                  &:hover{
                  h3{
                        color: var(--text-gray);
                  }
            }
      }

      &__image {
      display: flex;
      margin-bottom: 10px;
      position: relative;
      padding-bottom: 59%;
      img{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 4px;
            overflow: hidden;
      }
      }

      &__name {
      max-width: #{fluid(1850px, 240px, 1920px, 2560px)};
      font-size: #{fluid(13px, 18px, 1920px, 2560px)};
      @include ultra-desktop{
            font-size: 13px;
            max-width: 185px;
      }
      }

      &__button{
            margin: 0px auto;
            max-width: 211px;
            min-height: 46px;
            font-size: 15px;
            line-height: 1.3;
            font-weight: 600;
            background-color: #13161B;
            border: 1px solid #474A4D;
            display: none;
            transition: all 0.3s ease 0s;
            @include small-tablet{
                  display: flex;
            }
            &:hover{
                  background: var(--bg-iframe);
            }
      }
}

